
<div class='card' style='width: 30rem;'>
    <div class='card-header text-center'>
        <h5>Editar Funcionário</h5>
    </div>
    <div class='card-body'>
        <%= render 'form', employee: @employee %>
    </div>
</div>

